<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}">
    <title>E-Ticket</title>
    <link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/note.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/2.1.8/js/dataTables.min.js"></script>
    <script src="{{ url_for('static', filename='js/note.js') }}"></script>
    <style>
        .btn {
            color: white;
            padding: 5px 10px;
            color: white;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            }
        .btn-success {
            background-color: #28a745;
            color: white;
        }
        .btn-success:hover {
            background-color: #218838;
        }
        .btn-danger {
            background-color: rgb(240, 30, 30);
            color: white;
            margin-left: 10px;
        }
        .btn-danger:hover {
            background-color: #ca4141;
        }
    </style>
</head>
<body>
    <div class="top-bar">
        <div class="top-bar-content">
            <img src="{{ url_for('static', filename='img/favicon.png') }}" alt="Logo" class="logo">
            <div class="top-bar-links">
                <a href='/'>Home</a>
                <a href='/admin'>Admin Panel</a>
                <a href='/job_MS'>Add Job</a>
                <a href='/check'>History</a>
                <a href='/logout'>Logout</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="content">
            <table id="myTable" border="1">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>ID Order</th>
                        <th>Date Time</th>
                        <th>Name</th>
                        <th>Department</th>
                        <th>Subject</th>
                        <th>Quantity</th>
                        <th>Detail</th>
                        <th>Status</th>
                        <th>Note</th>
                        <th>Check</th>
                        <th>Dispatcher</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in results %}
                    <tr>
                        <td style="text-align: center;">{{ loop.index }}</td>
                        <td>{{ row['fda_Num'] }}</td>
                        <td>{{ row['Time'] }}</td>
                        <td>{{ row['REC_Name'] }}</td>
                        <td>{{ row['Department'] }}</td>
                        <td>{{ row['Subject'] }}</td>
                        <td>{{ row['Quantity'] }}</td>
                        <td>{{ row['Details'] }}</td>
                        <td class="{% if row['status'] == 'Cancel' %}status-reject{% elif row['status'] == 'Complete' %}status-succeed{% else %}status-pending{% endif %}">
                            {{ row['status'] if row['status'] else 'In Process' }}
                        </td>
                        <td>{{ row['note'] }}</td>
                        <td>
                            <form action="{{ url_for('update_status_view', id=row['No']) }}" method="POST">
                                <button type="submit" name="status" value="Complete" class="btn btn-success">✔</button>
                                <a href="{{ url_for('reject_reason_form', id=row['No']) }}">
                                    <button type="button" class="btn btn-danger">✘</button>
                                </a>
                            </form>                             
                        </td>
                        <td>{{ row['log'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <footer>
            <p>Sopon-Product Co.,Ltd.</p>
            <p>Develop by Thanapurt Sopon | Last Update 2025</p>
        </footer>
    </div>
</body>
</html>